<div class="card">
  <img [src]="product.imageUrl" [alt]="product.imageUrl" style="width:50%">
  <div class="container">
    <h4><b>{{product.name | uppercase | productName: "-"}}</b></h4> 
    <p>Code: {{product.code}}</p>
    <p>Price: {{product.price  | number : '1.2'}}</p> 
    <p>Available: <i [ngClass]="{'glyphicon' : true, 'glyphicon-ok' : product.available, 'glyphicon-remove' : !product.available}"></i></p> 
    <p><app-rating [rating]="product.rating" (ratingClicked)="onRatingClicked($event)"></app-rating></p> 
  </div>
</div>